{
  "plugins": [
    "prettier"
  ],
  "rules": {
    "indent": "off",
    "space-before-function-paren": [
      2,
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "no-use-before-define": [
      2,
      "nofunc"
    ],
    "comma-dangle": [
      0
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "no-underscore-dangle": [
      0
    ],
    "new-cap": [
      "error",
      {
        "capIsNewExceptions": [
          "Router"
        ]
      }
    ],
    "global-require": "off",
    "class-methods-use-this": "warn",
    "camelcase": [
      "error",
      {
        "ignoreDestructuring": true
      }
    ],
    "prettier/prettier": "error"
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:prettier/recommended"
  ]
}
